.card {
  position: relative;
  border: 3px solid #000000;
  margin: 15px;
  user-select: none;

  &Front {
    position: absolute;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    transition: .6s;
  }

  &Back {
    position: absolute;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    transition: .6s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  &Flipped {
    transform: rotateY(180deg);

    &Back {
      transform: rotateY(360deg);
    }
  }
}

img {
  pointer-events: none;
}
